@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    font-family: 'Montserrat', sans-serif;
}

section{
    height: 100vh;
    background-color:rgba(19, 17, 62, 0.905);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    padding-top: 100px;
}

input#search{
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px black;
    background-color:rgb(13, 11, 51)  ;
    color: white;
}
/* input#search::placeholder{
    
} */

#display-box{
    background-color:rgb(28, 25, 77) ;
    /* border: 2px solid red; */
    display: flex;
    padding: 30px;
    /* justify-content:space-between; */
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 50%;
    /* visibility: hidden; */
}
.image-box{
    border: 4px solid rgb(11, 3, 79);
    width: 150px;
    height: 150px;
   
    border-radius: 50%;
 background: url("../boy.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size:cover ;
    /* background: white;  */
}
/* .image-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
} */

.info-box{
 padding-left: 30px;
 width: 70%;
}
.name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.bio{
    margin-bottom: 10px;
}
.detail{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 6px;
}
.detail > li >span{
    margin-right: 10px;
}
.repos-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 10px;
    font-size: 10px;
  
}
.repos-list a{
    background-color: rgb(84, 15, 202);
    margin-bottom: 5px;
    /* font-style: none; */
    text-decoration: none;
    color: white;
    padding: 2px;
    /* target:"_blank" */
}
li{
    list-style: none;
    padding: 2px;

}
